<div class="app-footer">
  <div class="grid wide">
    <div class="row content-body">
      <div class="col l-2 m-4 c-6 footer-space">
        <h3 class="footer__heading">Chăm sóc người dùng</h3>
        <ul class="footer__list--item">
          <li class="footer-item">
            <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">My English - Tiếng anh cho mọi
              người.</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Hướng dẫn sử dụng</a>
          </li>
        </ul>
      </div>
      <div class="col l-2 m-4 c-6 footer-space">
        <h3 class="footer__heading">Giới thiệu về My English</h3>
        <ul class="footer__list--item">
          <li class="footer-item">
            <a href="" class="footer-item__link">Trung tâm</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Đội ngũ nhân sự</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Quá trình phát triển</a>
          </li>
        </ul>
      </div>
      <div class="col l-2 m-4 c-6 footer-space">
        <h3 class="footer__heading">Danh mục</h3>
        <ul class="footer__list--item">
          <li class="footer-item">
            <a href="" class="footer-item__link">Tin tức</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Thông báo mới</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Khác</a>
          </li>
        </ul>
      </div>
      <div class="col l-2 m-4 c-6 footer-space">
        <h3 class="footer__heading">Theo dõi</h3>
        <ul class="footer__list--item">
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer__icon fa-brands fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer__icon fa-brands fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer__icon fa-brands fa-linkedin"></i>
              Linkedin
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="footer__bottom">
  <div class="footer__wrap">
    <span>© 2022 Kuro Pink. Tất cả các quyền được bảo lưu.</span>
    <span>Quốc gia: Việt Nam. Khu vực: Tất cả các tỉnh thành trên cả nước</span>
    <span>Liên kết với các doanh nghiệp trong và ngoài nước</span>
  </div>

  <footer class="footer-end">
    <span class="footer-corp">Công ty TingTing</span>
    <span>Hotline: 0969.805.682 - Enail: tingting@gmail.com</span>
  </footer>
</div>