<h2>News Page of Hieu Pink</h2>
<p>Thong báo bão số 3 sẽ đổ bộ vào miền Bắc!</p>

    <form method="post" action="">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
