<form method="post" action="/show">
  <div class="form-group mt-4">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
    <small id="emailHelp" class="form-text text-muted">Nhập từ khóa</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>